# =========================
# Global
# =========================
node_modules
.env
.env.*
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# Build / Output
# =========================
dist
build
.cache
coverage
.temp
.next
out

# =========================
# IDE / Editor
# =========================
.vscode
.idea
*.swp

# =========================
# Backend Specific
# =========================
Backend/node_modules
Backend/dist
Backend/.env
Backend/*.sqlite
Backend/tmp
Backend/uploads

# If using Sequelize / Prisma
Backend/prisma/dev.db
Backend/prisma/*.db-journal

# =========================
# Frontend Specific
# =========================
