@import "tailwindcss";

body {
    overflow-x: hidden;
    width: 100%;
}

@theme {
    --animate-marquee: marquee 25s linear infinite;
    --animate-fade-in-up: fade-in-up 0.8s ease-out forwards;

    @keyframes marquee {
        0% {
            transform: translateX(100%);
        }

        100% {
            transform: translateX(-100%);
        }
    }

    @keyframes fade-in-up {
        0% {
            opacity: 0;
            transform: translateY(20px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
}